.PapillonContainer {
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.Papillon {
  animation-name: login;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes login {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.SignIn {
  margin-top: 10px;
  color: #1c294b;
  font-weight: bolder;
  font-stretch: narrower;
  font-size: 14px;
}

/**
 * ==============================================
 * Dot Flashing
 * from Zongbin - https://codepen.io/nzbin/pen/GGrXbp
 * ==============================================
 */
.Dot {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.Dot::before,
.Dot::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.Dot::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.Dot::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}
